/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* custom css variables */
:root {
  --primary: #489DCE;
  --secondary: #63c5da;
  --tertiary: #00FFEF;
  --light: #EEEEEE;
  --dark: #212121;
  --text-color-white: #fffefe;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

/* custom width */
.w-40 {
  width: 40%;
}

.w-60{
  width: 60%;
}

.w-52{
  width: 52%;
}

.w-10{
  width: 10%;
}

/* custom vh */
.vh-85{
  height: 85vh;
}
