/*-------------
Tabs styles
---------------*/
#tabs h1{
  color: #FFF;
  font-weight: 600;
  font-size: 3rem;
}

#tabs h1 span{
  color: var(--secondary);
}


.nav-item .nav-link{
  border-radius: 50px;
  margin: 0 5px;
  padding: 10px 30px;
  color: var(--tertiary);
  font-weight: 600;
}

.tab-content{
  border: none;
}

.nav-item .nav-link:hover{
  border: none;
}

.nav-tabs .nav-link.active{
  background-color: var(--background-color);
  border: none;
  box-shadow: 3px 3px 3px black;
  color: var(--tertiary);
  font-weight: 600;
}

/*-------------
boxes styles
---------------*/
.box{
  background-color: var(--background-color);
  box-shadow: 3px 3px 3px black;
  border-radius: 10px;
}

.box img{
  width: 300px;
  margin: 10px 0;
  border-radius: 10px;
  transition: all .2s ease;
}

.box img:hover{
  transform: translateY(-10px);
  cursor: pointer;
}

.box .img-title h2{
  font-size: 1.25rem;
  color: var(--text-color);
  font-weight: 200;
}

.submit{
  height: 100%;
}

.submit p{
  color: var(--text-color-white);
  font-weight: 100;
}

.sub i{
  opacity: .3;
  color: var(--text-color-white);
}

.sub{
  transition: all .2s ease;
  cursor: pointer;
}

.sub:hover{
  transform: scale(1.1);
}