@forward 'globals';
/*-------------
Modal styles
---------------*/
.modal-content{
  background-color: var(--background-color);
}

.modal-footer{
  padding-top: 0;
}

.modal-body{
  padding-bottom: 0;
}

.modal-footer,
.modal-header{
  border: none;
  h5{
    color: cornflowerblue;
    font-weight: 600;
  }
  .btn a{
    color: white;
  }
}

.modal-header{
  padding-bottom: 0;
  .btn-close{
    background-color: aliceblue;
  }
}

/*-------------
Roadmap styles
---------------*/
.roadmap{
  .r-map{
    cursor: pointer;
    transition: all .3s ease-in-out;
  }
  .r-map:hover{
    transform: scale(1.03);
  }
}

.modal-fullscreen{
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .modal-fullscreen{
    width: 60%;
  }
}

@media screen and (max-width: 414px) {
  .gradient-txt{
    h1{
      font-size: 2.50rem;
    }
  }
  .modal-fullscreen {
    width: 100%;
  }
}

/*-------------
Courses styles
---------------*/
.courses{
  .card{
    background-color: var(--background-color);
    box-shadow: 3px 3px 3px black;
    .card-title{
      font-weight: 600;
      color: turquoise;
    }
    .card-body{
      p{
        text-align: justify;
        font-size: 1rem;
      }
      button{
        border-radius: 0;
        color: black;
      }
      button:hover{
        color: white;
      }
    }
    .card-text{
      color: var(--text-color);
    }
  }
}

/*-------------------
Useful website styles
---------------------*/
.u-website{
  height: 91px;
  overflow: hidden;
  background-color: #141418;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  transition: all 0.5s ease;
  img{
    width: 80px;
    height: 61px;
    margin: auto auto;
  }
  .information{
    margin-left: 10px;
    color: var(--text-color);
    h5{
      color: turquoise;
    }
  }
  a{
    text-decoration: underline;
    color: var(--primary);
  }
}

.expanded{
  height: auto;
}