.container{
  .scale-rotate {
    transition: transform 1s ease;
    transform: scale(1) rotate(0deg);
    transform-origin: center;
  }

  .bounce {
    animation: bounce 2s linear infinite;
  }

  .rotate-infinite {
    animation: rotate 1s linear infinite;
  }

  .pulse {
    animation: pulse 1s linear infinite;
  }

  .wobble {
    animation: wobble 1s linear infinite;
  }
}