.container{
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-100px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes wobble {
    0% {
      transform: translateX(0%);
    }

    15% {
      transform: translateX(-25%) rotate(-5deg);
    }

    30% {
      transform: translateX(20%) rotate(3deg);
    }

    45% {
      transform: translateX(-15%) rotate(-3deg);
    }

    60% {
      transform: translateX(10%) rotate(2deg);
    }

    75% {
      transform: translateX(10%) rotate(2deg);
    }

    100% {
      transform: translateX(0%);
    }
  }
}