* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--background-color);
}

// scrollbar styles
.modal::-webkit-scrollbar,
.modal-body::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0.25rem;
}
.modal::-webkit-scrollbar-track,
.modal-body::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background-color: #1e1e24;
}

.modal::-webkit-scrollbar-thumb,
.modal-body::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

// buttons
.btn {
  border-radius: 40px;
  padding: 12px 25px;
  transition: all 150ms ease-in-out;
  box-shadow: 0 0 40px 40px var(--primary) inset, 0 0 0 0 var(--primary);
}

.btn:hover {
  box-shadow: 0 0 6px 0 var(--primary) inset, 0 0 6px 4px var(--primary);
}

