*{
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(-90deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
}

.container{
  width: 100%;
  margin: 20px auto 50px auto;
  .desc{
    margin: 10px 0;
    color: black;
  }
}