a,
a:visited,
a:active{
  text-decoration: none;
  color: var(--text-color);
}

.desc h1{
  color: #FFF;
  font-weight: 600;
  font-size: 4rem;
}

.desc h1 span{
  color: var(--secondary);
}

.desc p{
  color: var(--text-color);
  text-align: justify;
  font-size: 1.25em;
}

.modal-desc{
  p{
    text-align: justify;
    margin: 8px 8px;
    color: var(--text-color);
    font-weight: 200;
  }
  h5,
  ul li{
    color: var(--text-color);
    font-weight: 400;
  }
  ul li{
    font-weight: 200;
  }
}

.b-roadmap h2,
.f-roadmap h2,
.gradient-txt{
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  h1{
    font-weight: 700;
    font-size: 3.25rem;
  }
}

.rm-modal {
  h1 {
    color: turquoise;
  }
}

.b-roadmap,
.f-roadmap{
  li{
    list-style-image: url(/Assets/img/pins.png);
    color: var(--text-color-white);
    font-weight: 200;
  }
  p{
    color: var(--text-color-white);
  }
}
